[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
pillow = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
environs = "*"
tqdm = "*"
plotly = "*"
notebook = "*"
ipywidgets = "*"
jupyterlab = "*"
nbformat = "*"
tensorflow = "==2.0.0-rc0"
tb-nightly = "*"

[requires]
python_version = "3.7"
